<table>
  <thead class="m">
    <tr>
      <th (click)="sort.set('fullName')">Name</th>
      <th (click)="sort.set('course')">Specialty</th>
      <th (click)="sort.set('age')">Age</th>
      <th (click)="sort.set('gender')">Gender</th>
      <th (click)="sort.set('country')">Nationality</th>
    </tr>
  </thead>
  <tbody>
    @for(person of sortedPeople(); track $index) {
      <tr>
        <td>{{ person.fullName }}</td>
        <td>{{ person.course }}</td>
        <td>{{person.age}}</td>
        <td>{{person.gender}}</td>
        <td>{{ person.country }}</td>
      </tr>
    }
  </tbody>
</table>

<span class="pagination">
  @for(_ of [].constructor(Math.ceil(peopleService.filteredPeople().length / numPerPage)); let i = $index; track i){
    <button [class.current]="peopleService.pageNum() == i + 1" (click)="paginateTo(i + 1)" class="text-button">{{i + 1}}</button>
  }
</span>
