<table>
  <thead class="m">
    <tr>
      <th>Name</th>
      <th>Specialty</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Nationality</th>
    </tr>
  </thead>
  <tbody>
    @for(person of people; track $index) {
      <tr>
        <td>{{ person.fullName }}</td>
        <td>{{ person.course }}</td>
        <td>{{person.age}}</td>
        <td>{{person.gender}}</td>
        <td>{{ person.country }}</td>
      </tr>
    }
  </tbody>
</table>

<span class="pagination">
  <a>1</a>
  <a href="">2</a>
  <a href="">3</a>
  ...
  <a href="">Last</a>
</span>
