.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  row-gap: 1rem;
  &>span {
    height: 2rem;
    border-right: 2px dotted #666;
    color: #666;
    display: flex;
    justify-content: start;
    align-items: center;
    &.checkbox{
      color: black;
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      color: black;
      cursor: pointer;
    }
    &:first-of-type {
      & > label {
        margin-left: 0;
      }
    }
  }
}

select {
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  &:hover {
    cursor: pointer;
  }
}

input {
  margin-left: 1rem;
}

label {
  margin: 0 1rem;
  &:hover {
    cursor: pointer;
  }
}
