<section class="filter-wrapper">
  <span>
    <label for="age">Age</label>
    <select [(ngModel)]="selectedAge" id="age">
      <option [ngValue]="null">Any</option>
      @for (age of ages; track $index) {
        <option [ngValue]="age">{{ age }}</option>
      }
    </select>
  </span>

  <span>
    <label for="location">Region</label>
    <select [(ngModel)]="selectedLocation" id="location">
      <option [ngValue]="null">Any</option>
      @for (location of peopleService.getLocations(); track $index) {
        <option [value]="location">{{ location }}</option>
      }
    </select>
  </span>

  <span>
    <label for="sex">Sex</label>
    <select [(ngModel)]="selectedSex" id="sex">
      <option [ngValue]="null">Any</option>
      @for (sex of ["Male", "Female"]; track $index) {
        <option [value]="sex">{{ sex }}</option>
      }
    </select>
  </span>

  <span class="checkbox">
    <input [(ngModel)]="requirePhoto" type="checkbox" id="photo">
    <label for="photo">Only with photo</label>
  </span>

  <span class="checkbox">
    <input [(ngModel)]="onlyFavourite" type="checkbox" id="fav">
    <label for="fav">Only favourite</label>
  </span>

</section>
