<div class="fc wrapper">
  <div class="fc">
    <header class="fr">
      <h1 class="title l">Teachinder</h1>
      <input [(ngModel)]="currentQuery" type="text" placeholder="Name, note or age to search">
      <button class="border-button" (click)="search()">Search</button>
    </header>
    <app-nav (addTeacherPopup)="toggleAddTeacher()"></app-nav>
  </div>

  <app-section id="top-teachers" title="Top Teachers">
    <app-filter [disabled]="!!peopleService.query()" (filter)="filterPeople($event)"></app-filter>
    <section class="fr top-teacher-wrapper" (click)="showPersonInfo($event)">
      @for (person of filteredPeople(); track $index) {
        <app-profile [person]="person"></app-profile>
      }
    </section>
  </app-section>

  <app-section id="statistics" title="Statistics">
    <app-table></app-table>
  </app-section>

  @if(peopleService.favPeople().length > 0) {
    <app-section (click)="showPersonInfo($event)" id="favourites" title="Favourites">
      <app-favs></app-favs>
    </app-section>
  }

  <app-section id="about" title="">
    <footer class="fc">
      <small>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius eligendi, facere ipsa necessitatibus
        nesciunt, odio praesentium repellat soluta sunt, suscipit ullam veritatis voluptatibus! Blanditiis eveniet id
        laudantium minus nam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </small>
      <br>
      <small>
        Autem beatae blanditiis delectus, excepturi exercitationem illum ipsam, iure modi necessitatibus perferendis
        perspiciatis qui repellat
        rerum tenetur ut velit vitae, voluptatem voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab culpa dicta eius est fugit id in neque praesentium, quia rem repellendus tempora veniam veritatis voluptas
        voluptate? Asperiores ipsa iure sint.
      </small>
      <app-nav (addTeacherPopup)="toggleAddTeacher()"></app-nav>
    </footer>
  </app-section>
</div>

<app-teacher-info-popup [person]="currentPerson()" [visible]="visibleInfo()" (closed)="infoService.toggleInfoTeacher(null)"></app-teacher-info-popup>
<app-add-teacher-popup [visible]="visibleAdd" (closed)="toggleAddTeacher()"></app-add-teacher-popup>


