<section class="fc profile-wrapper">
  <span class="img-wrapper">
    @if(person?.pictureLarge) {
      <img [src]="person?.pictureLarge" alt="Portrait of {{person?.fullName}}">
    } @else {
      <h2 class="initials">{{toInitials(person?.fullName!)}}</h2>
    }
  </span>
  <h2 class="m name w">{{person?.fullName}}</h2>
  @if(showStar) {
    <p class="gray">{{person?.course}}</p>
  }
  <small class="gray">{{person?.country}}</small>
  @if(person?.favourite && showStar) {
    <span class="mark"></span>
  }
</section>
